{% extends 'trainer/base.html' %}
{% block trainers_active %}active{% endblock %}


{% block body %}
<div class="trainers-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Welcome {{ user.username }}</h3><br>


        </div>
        {% if trainers %}
            {% for trainer in trainers %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'trainer:details' trainer.id %}">
                            <img src="{{ trainer.picture.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ trainer.name }}</h2>
                            <h4>{{ trainer.designation }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'trainer:details' trainer.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            <a href="{% url 'trainer:trainer_update' trainer.id %}" >Edit</a><br>

                            <!-- Delete Album -->
                            <form action="{% url 'trainer:delete_trainer' trainer.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="trainer_id" value="{{ trainer.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="{% url 'trainer:favorite_trainer' trainer.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if trainer.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>

                <div>


                <a href="{% url 'account_change_password' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Change Password
                    </button>
                </a>
                    <a href="{% url 'trainer:search' %}">Search User</a><br>
                    <a href="{% url 'trainer:eventsearch' %}">Search Event</a><br>
                    <a href="{% url 'trainer:trainersearch' %}">Search Trainer</a><br>
                    <a href="{% url 'trainer:webinarsearch' %}">Search Webinar</a><br>
                    <a href="{% url 'trainer:elearningsearch' %}">Search Elearning</a><br>
                    <a href="{% url 'trainer:olocationsearch' %}">Search Olocation</a><br>
                </div><br><br><br>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% elif clients %}
            {% for client in clients %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'trainer:client_details' client.id %}">
                            <img src="{{ client.cpicture.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ client.cname }}</h2>
                            <h4>{{ client.cdesignation }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'trainer:client_details' client.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            <a href="{% url 'trainer:client_update' client.id %}" >Edit</a><br>

                            <!-- Delete Album -->
                            <form action="{% url 'trainer:delete_client' client.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="client_id" value="{{ client.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>


                        </div>

                         <a href="{% url 'account_change_password' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Change Password
                    </button>
                </a>
                    <a href="{% url 'trainer:search' %}">Search User</a><br>
                    <a href="{% url 'trainer:eventsearch' %}">Search Event</a><br>
                    <a href="{% url 'trainer:trainersearch' %}">Search Trainer</a><br>
                    <a href="{% url 'trainer:webinarsearch' %}">Search Webinar</a><br>
                    <a href="{% url 'trainer:elearningsearch' %}">Search Elearning</a><br>
                    <a href="{% url 'trainer:olocationsearch' %}">Search Olocation</a><br>
                    </div><br><br><br>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'trainer:create_trainer' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Enroll as a partner
                    </button>
                </a>

                <a href="{% url 'trainer:create_client' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Enroll as a client
                    </button>
                </a><br><br>
             <a href="{% url 'trainer:search' %}">Search User</a><br>
                    <a href="{% url 'trainer:eventsearch' %}">Search Event</a><br>
                    <a href="{% url 'trainer:trainersearch' %}">Search Trainer</a><br>
                    <a href="{% url 'trainer:webinarsearch' %}">Search Webinar</a><br>
                    <a href="{% url 'trainer:elearningsearch' %}">Search Elearning</a><br>
                    <a href="{% url 'trainer:olocationsearch' %}">Search Olocation</a><br>
            </div>
        {% endif %}
    </div>


    {% if events %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Events</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Event Title</th>
                                    <th>Trainer Name</th>
                                    <th>File</th>
                                    <th>Trainer</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{ event.etitle }}</td>
                                        <td>{{ event.trainer.name }}</td>
                                        <td>

                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:details' event.trainer.id %}">
                                                <img src="{{ event.trainer.picture.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'trainer:details' event.trainer.id %}">{{ event.trainer.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:favorite' event.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if event.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



    {% if webinars %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Webinars</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Webinar Title</th>
                                    <th>Trainer Name</th>
                                    <th>File</th>
                                    <th>Trainer</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for webinar in webinars %}
                                    <tr>
                                        <td>{{ webinar.wtitle }}</td>
                                        <td>{{ webinar.trainer.name }}</td>
                                        <td>

                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:details' webinar.trainer.id %}">
                                                <img src="{{ webinar.trainer.picture.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'trainer:details' webinar.trainer.id %}">{{ webinar.trainer.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:favorite_webinar' webinar.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if webinar.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if articles %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Articles</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Article Title</th>
                                    <th>Trainer Name</th>
                                    <th>File</th>
                                    <th>Trainer</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in articles %}
                                    <tr>
                                        <td>{{ article.atitle }}</td>
                                        <td>{{ article.trainer.name }}</td>
                                        <td>

                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:details' article.trainer.id %}">
                                                <img src="{{ article.trainer.picture.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'trainer:details' article.trainer.id %}">{{ article.trainer.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:favorite_article' article.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if article.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if elearnings %}
        <div class="row">
            <div class="col-sm-12">
                <h3>E-Learnings</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>E-Learning Title</th>
                                    <th>Trainer Name</th>
                                    <th>File</th>
                                    <th>Trainer</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for elearning in elearnings %}
                                    <tr>
                                        <td>{{ elearning.ltitle }}</td>
                                        <td>{{ elearning.trainer.name }}</td>
                                        <td>

                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:details' elearning.trainer.id %}">
                                                <img src="{{ elearning.trainer.picture.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'trainer:details' elearning.trainer.id %}">{{ elearning.trainer.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:favorite_elearning' elearning.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if elearning.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



    {% if olocations %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Outbound Locations</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Location Title</th>
                                    <th>Trainer Name</th>
                                    <th>File</th>
                                    <th>Trainer</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for olocation in olocations %}
                                    <tr>
                                        <td>{{ olocation.otitle }}</td>
                                        <td>{{ olocation.trainer.name }}</td>
                                        <td>

                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:details' olocation.trainer.id %}">
                                                <img src="{{ olocation.trainer.picture.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'trainer:details' olocation.trainer.id %}">{{ olocation.trainer.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'trainer:favorite' olocation.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if olocation.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


</div>
{% endblock %}
